<h1>Login Form</h1>

<form action="/login" method="POST">
    <input type="text" placeholder="User Name" name="username">
    <input type="text" placeholder="Password" name="password">
    <button>Submit</button>
</form>

<li><a href="/register">Sign Up</a></li>  
  
